:root {
    --main-color: #d61016;
    --secondary-color: #1c1c1c;
    --gradient-bg: linear-gradient(
        45deg,
        rgba(214, 16, 22, 1) 0%,
        rgba(246, 102, 107, 1) 100%
    );
    --poppins-light: 300;
    --poppins-regular: 400;
    --poppins-medium: 500;
    --poppins-semi-bold: 600;
    --poppins-bold: 700;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

.btn {
    font-weight: var(--poppins-medium);
    color: var(--main-color);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    font-size: 10px;
    padding: 8px 30px;
    background: #fff;
    width: fit-content;
    text-decoration: none;
    display: block;
}

.btn-small {
    padding: 4px 14px;
    border-radius: 5px;
}

.btn-large {
    padding: 14px 40px;
    border-radius: 5px;
    font-size: 14px;
}

.btn-full {
    background: var(--main-color);
    color: #fff;
}

.btn-line {
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.t-center {
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: var(--poppins-bold);
    color: var(--main-color);
    padding: 40px 0px 20px;
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 53px;
    }
}

/* 
    PAGE HOME
*/
.home__header__container {
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
    min-height: 50vh;
    background: var(--gradient-bg);
    margin-top: -60px;
    z-index: -1;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.home__header__container > h1 {
    font-weight: var(--poppins-semi-bold);
    color: #fff;
    font-size: 25px;
    line-height: 30px;
}
.home__header__container > h1 > span {
    font-weight: var(--poppins-bold);
    text-decoration: underline;
    text-transform: uppercase;
}

.formules__sections {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 10%;
    gap: 30px;
}

.formules__item {
    background-color: #fff;
    box-shadow: 0px 0px 28px #0000002c;
    border-radius: 15px;
    padding: 30px;
}

.formules__item > h1 {
    font-size: 36px;
    font-weight: var(--poppins-bold);
    text-align: center;
    color: var(--main-color);
}

.formules__item > p {
    font-size: 12px;
    font-weight: var(--poppins-light);
    color: var(--secondary-color);
    text-align: center;
}

.formule_spacer {
    height: 1px;
    width: 70%;
    background-color: #000;
    margin: 15px auto 10px;
}

.formules__item ul {
    padding-top: 30px;
    padding-bottom: 30px;
}

.formules__item li {
    background-image: url("../img/list_style.svg");
    background-repeat: no-repeat;
    background-position: center left;
    padding: 10px 0px 10px 10px;
    font-size: 13px;
    font-weight: var(--poppins-regular);
    color: var(--secondary-color);
}

.formules__item strong {
    font-weight: var(--poppins-semi-bold);
    color: var(--main-color);
}

.formules__item div > a {
    margin: auto;
}

/* 
    PAGE SERVICES
*/

.services__header__container {
    background-image: url("../img/header-bg.png");
    background-position: right;
    background-size: contain;
    background-repeat-x: no-repeat;
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.services__header__container h1 {
    font-weight: var(--poppins-bold);
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.services__header__container p {
    font-weight: var(--poppins-medium);
    font-size: 16px;
    color: var(--secondary-color);
}

.services__header__stepes {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.services__header__stepes > div {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    gap: 15px;
}

.services__header__stepes > div > h2 {
    font-size: 50px;
    color: var(--main-color);
    font-weight: var(--poppins-bold);
    text-align: right;
}

.services__header__stepes > div > p {
    font-size: 14px;
    font-weight: var(--poppins-medium);
}

.services__section {
    padding: 50px 10%;
    text-align: center;
}

.services__section > img {
    width: 70%;
}

.services__section > div {
    margin-top: 10px;
}

.services__section > div > h1 {
    color: var(--main-color);
    font-weight: var(--poppins-bold);
    font-size: 25px;
}

.services__section > div > p {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: var(--poppins-regular);
    padding-top: 30px;
    width: 90%;
    margin: auto;
}

.services__section > div > .btn {
    margin: 20px auto 0;
}

.services__section:nth-child(even) {
    background-color: #f6f6f6;
}

@media screen and (min-width: 1024px) {
    .services__header__container {
        min-height: 80vh;
        justify-content: space-around;
    }
    .services__header__title > h1 {
        font-size: 53px;
        margin-bottom: 30px;
    }
    .services__header__title > p {
        width: 350px;
        line-height: 40px;
    }
    .services__header__stepes {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .services__header__stepes > div > h2 {
        font-size: 80px;
    }
    .services__header__stepes > div > p {
        font-size: 16px;
        font-weight: var(--poppins-semi-bold);
    }
    .services__section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        min-height: 80vh;
        align-items: center;
        justify-items: center;
        text-align: left;
        gap: 40px;
    }
    .services__section:nth-child(even) {
        grid-template-columns: 1fr 0.5fr;
    }
    .services__section:nth-child(even) > div {
        grid-column: 1;
        grid-row: 1;
    }
    .services__section:nth-child(even) > img {
        grid-column: 2;
        grid-row: 1;
    }
    .services__section > div > h1 {
        font-size: 32px;
    }
    .services__section > div > p {
        font-size: 16px;
        font-weight: var(--poppins-regular);
        line-height: 30px;
        width: 100%;
    }
    .services__section > div > .btn {
        margin: 20px 0 0;
    }
}
@media screen and (min-width: 1440px) {
    .services__header__stepes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .services__section {
        grid-template-columns: 1fr 1fr;
        padding: 50px 15%;
    }
    .services__section:nth-child(even) {
        grid-template-columns: 1fr 1fr;
    }
    .services__section > div > p {
        width: 80%;
        margin: initial;
        font-size: 16px;
    }
}
